# Ignore Python caches
__pycache__/
*.py[cod]
.pytest_cache/

# Node dependencies
frontend/node_modules/
node_modules

# Environment files
*.env
*.venv

# TEMP unitl better handling
backend/static/images/*
backend/images.json